body {
  background-color: #212F3C;
  color: #FFFFFF;
	
}
h1 {
  background-color: #486784;
  color: #FFFFFF;
  margin: 0px; 
  background-margin: 50px; 
  padding: 15px;
  text-align: center;
  /* Update Image to fit colorscheme */
  background-image: url(images/bt.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position:left;
  line-height: 250%;
  text-indent: 1em;

}
