body {
  background-color: #212F3C;
  color: #FFFFFF;
	
}
h1 {
  background-color: #486784;
  color: #FFFFFF;
  margin: 0px; 
  text-align: center;
  background-size: 20px;
  background-repeat: no-repeat;
  <!╌ Update Image to fit colorscheme ╌>
  background-image: url(images/bt.png);
}
img src="images/bt.jpg" {
  width: 10px;
}
