body {
  background-color: #212F3C;
  color: #FFFFFF;
	
}
h1 {
  background-color: #486784;
  color: #FFFFFF;
  height: 60px;
  padding-top: 15px;
  margin: 0px; 
  text-align: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(images/bt.png);
}
img src="images/bt.jpg" {
  width: 10px;
}
